.sider {
  z-index: 401;
  background-color: #fff;
}

.mainSiderWrapper {
  width: var(--main-sider-width);
  height: 100vh;
  position: relative;

  .mainSider {
    --padding-inline: calc((var(--main-sider-width) - var(--main-sider-item-height)) / 2);

    position: absolute;
    inset: 0;
    width: var(--main-sider-width);
    overflow: auto;
    height: 100vh;
    transition: all 0.15s ease-in-out;
    box-shadow: 0px 4px 40px 0px #0C49F61A;
    padding-inline: var(--padding-inline);

    &::-webkit-scrollbar {
      display: none;
    }

    &:hover {
      width: var(--main-sider-width-active);
    }

    .mainSiderItem {
      transition: all 0.15s ease-in-out;
      border-radius: 10px;
      overflow: hidden;

      .mainSiderItemInner {
        width: var(--main-sider-width-active);
        gap: 4px;
      }

      .mainSiderIconWrapper {
        width: var(--main-sider-item-height);
        aspect-ratio: 1;

        svg {
          transition: all 0.15s ease-in-out;
        }
      }

      .mainSiderItemLabel {
        transition: all 0.15s ease-in-out;
        font-size: 14px;
        font-weight: 500;
        /* color: #2c3782; */
      }

      &:hover {
        background-color: #416fff20;
      }

      &[data-status="active"] {
        background-color: #416fff;

        .mainSiderItemLabel {
          color: #fff;
        }

        svg {
          &[data-type="stroke"] {
            stroke: #fff;
          }

          &[data-type="fill"] {
            fill: #fff;
          }
        }
      }
    }
  }
}

.header {
  .headerMenu {
    :global(.mantine-Tabs-list) {
      font-weight: 500;

      &::before {
        display: none;
      }

      :global(.mantine-UnstyledButton-root)[data-active="true"] {
        color: var(--mantine-color-primary-text);
      }
    }
  }
}

.mainSiderTopbar {
  overflow: hidden;
  min-height: var(--header-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: sticky;
  top: 0;
  background-color: #fff;

  .mainSiderTopbarContent {
    width: var(--main-sider-width-active);
  }

  .mainSiderTopbarTitle {
    font-weight: bold;
    color: var(--mantine-color-primary-4);
  }
}